# ==================================================================================
# SLASH ENTITY CONFIGURATION
# ==================================================================================
# TYPE | SYM | COLOR | NAME           | HP  | DAMAGE | ATTACK | AC  | VALUE
# ----------------------------------------------------------------------------------
MON    | E   | 196   | Grunting Orc   | 10  | 4      | -      | -   | -
MON    | b   | 250   | Giant Bat      | 4   | 2      | -      | -   | -
MON    | S   | 236   | Shadow Stalker | 15  | 8      | -      | -   | -
WEP    | )   | 213   | Steel Blade    | -   | -      | 6      | -   | -
ARM    | [   | 94    | Chainmail      | -   | -      | -      | 2   | -
POT    | !   | 160   | Health Potion  | 10  | -      | -      | -   | -
GOL    | $   | 220   | Gold Nuggets   | -   | -      | -      | -   | 15
